@import "src/asstes/global.scss";

.movie-description {
  position: relative;
  width: 1200px;
  height: $top_content_height;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: transparent
    linear-gradient(89deg, $theme_rich_black 0%, #040404e6 57%, #04040400 100%)
    0% 0% no-repeat padding-box;
  z-index: 5;

  .category {
    letter-spacing: 4.8px;
    color: #858688;
    text-transform: uppercase;
  }

  .image-title {
    width: 683px;
    height: 84px;
    margin: 15px 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .additional-info {
    font-size: 32px;
    color: $theme_anti_flash_white;

    span:not(:last-child) {
      margin-right: 10px;
    }
  }

  .description {
    width: 802px;
    height: 130px;
    font-size: 32px;
    color: $theme_anti_flash_white;
    margin: 13px 0 26px;
  }

  .actions {
    display: flex;

    button {
      width: 240px;
      height: 72px;
      border-radius: 40px;
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      letter-spacing: -0.32px;
      border: unset;
    }

    .play-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $theme_anti_flash_white 0% 0% no-repeat padding-box;
      color: $theme_smoky_black;
      margin-right: 18px;

      .icon {
        width: 16px;
        height: 19px;
        background: url("/asstes/images/play-black.svg") 0% 0% no-repeat
          padding-box;
        margin-right: 12px;
      }
    }

    .more-btn {
      color: $theme_anti_flash_white;
      background: transparent
        linear-gradient(
          128deg,
          $theme_bluebonnet 0%,
          $theme_dark_imperial_blue 100%
        )
        0% 0% no-repeat padding-box;
    }
  }
}
