@import "src/assets/global.scss";

.trending-now {
  position: relative;
  background-color: $theme_rich_black;
  z-index: 5;

  .title {
    position: absolute;
    top: -50px;
    color: $theme_anti_flash_white;
    font-size: 32px;
  }

  .movie-carousel {
    .movie-preview {
      cursor: pointer;
    }
  }
}
